$white: #FFF;
$black: #000;
$tajawal: "Tajawal";

// Grays
$gray-100: #f4f4f4;
$gray-200: #ebebeb;
$gray-300: #b5b5b5;
$gray-400: #999;
$gray-500: #808080;
$gray-600: #6e6e6e;
$gray-700: #464646;
$gray-800: #393939;
$gray-900: #1e1e1e;

$main-color : #ef3825;
$main-font-family: $tajawal;
$main-bg: $gray-100;
$text-color: $gray-500;
$main-box-bg: $white;
$main-border-color: $main-color;
$dark-gradient-light: $gray-800;
$dark-gradient-mid: $gray-700;
$dark-gradient-dark: $black;

$single-news-title: $gray-900;
$match-bg: $gray-200;
$match-color: $gray-300;
$match-time-bg: $gray-100;
$match-time-color: $gray-500;