.header {
    margin-bottom: 1rem;
    &-top {
        background-color: $main-color;
        padding: 1rem 0;

        &-content {
            display: flex;
            justify-content: space-between;
        }
    }

    &-middle {
        padding: 2rem 0;
        background-color: #fff;
        margin: 1rem 0;
        &-logo{
            width: 8.5rem;
            
        }
        &-icons{
            width: 3rem !important;
        }
    }
    &-bottom{
        background-color: #fff;
        width: 100%;
        a{
            text-decoration: none;
            color: gray;
        }
        a:hover{
            color: $main-color;
        }
        .active-link{
            color: $main-color;
            font-weight: bolder;
            position: relative; 
        }
        .active-link::after{
            position: absolute;
            height: 2px;
            bottom: -4px;
            content:"";
            width: 100%;
            color: $main-color;
        }
    }
}
