.header {
    &-top {
        background-color: $main-color;
        padding: 1rem 0;

        &-content {
            display: flex;
            justify-content: space-between;
        }
    }

    &-middle {
        padding: 2rem 0;
        background-color: #fff;
        &-logo{
            width: 8.5rem;
            
        }
        &-icons{
            width: 3rem !important;
        }
    }
    &-bottom{
        background-color: #fff;

        a{
            text-decoration: none;
            color: gray;
        }
        a:hover{
            color: $main-color;
        }
        .active-link{
            color: $main-color;
        }
    }
}