.header {
    margin-bottom: 1rem;
    &-top {
        background-color: $main-color;
        padding: 1rem 0;

        &-content {
            display: flex;
            justify-content: space-between;
        }
    }

    &-middle {
        padding: 2rem 0;
        background-color: #fff;
        margin: 3px 0;
        &-logo{
            width: 8.5rem;
        }
        &-icons{
            width: 3rem !important;
        }
    }
    &-bottom{
        background-color: #fff;
        width: 100%;
        a{
            text-decoration: none;
            color: gray;
        }
        a:hover{
            color: $main-color;
        }
        .active{
            color: $main-color;
            font-weight: bolder;
            // border-bottom: 4px solid $main-color;
            position: relative; 
        }
        .active::after{
            content:"";
            position: absolute;
            height: 2px;
            bottom: -5px;
            left: 0;
            right: 0;
            background-color: $main-color;
        }
    }
}
.search-img{
    cursor: pointer;
}