.home-section {
    margin-bottom: 3.5rem;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $main-color;
        font-weight: bold;
        margin-bottom: 1rem;
        &-title {
            font-size: 1.3rem;
        }

        &-showall {
            font-size: .8rem;
            color: $main-color;
            text-decoration: none;
            &:hover, &:active {
                color: $main-color;
                text-decoration: underline;
            }
        }
    }
}