.latest-news-main {
    overflow-y: auto;
    max-height: 24.5rem;
    overflow-x: hidden;

    &-card {
        max-height: 150px;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        img {
            max-height: 100%;
            width: 100%;
            height: 100%;
        }

        &-body {
            .card-text {
                text-decoration: none;
                color: $text-color;
            }

            .card-text:hover {
                color: $main-color;
            }

            h6 {
                font-size: 1.35rem;
            }


        }
    }
}
