.news-block {
    position: relative;
    height: calc(24rem + .5rem);
    overflow-y: hidden;
    font-size: 1rem;
    max-height: 100%;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to top, $dark-gradient-light, rgba($dark-gradient-mid, .53) 33%, rgba($dark-gradient-dark, 0) 54%);
    }

    >img {
        width: 100%;
        height: 100%;
    }

    &-caption {
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        left: 0;
        padding: 1em;
        color: $white;
        font-weight: bold;

        a {
            font-size: 1.7em;
            color: $white;
            text-decoration: none;
            display: block;

            &:hover {
                color: $main-color;
            }
        }

        span {
            font-size: .8em;
        }
    }

    &-share {
        position: absolute;
        content: '';
        top: 1.9em;
        left: 1.9em;
        max-width: 2.6em;

        img {
            width: 100%;
        }
        #share-dropdown {
            padding: 0;
            border: none !important;
            &::after {
                content: none;
            }
        }
    }

    &-newspaper {
        position: absolute;
        content: '';
        top: 1.9em;
        right: 1.9em;
        width: 3.7em;
        height: 3.7em;
        background-color: $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            width: 95%;
        }
    }

}

.news-block-sm {
    height: 12rem;
    font-size: .5rem;

    .news-block {
        // &-caption {
        //     padding: .7rem;

        //     h3 {
        //         font-size: .6rem;
        //     }

        //     span {
        //         font-size: .5rem
        //     }
        // }

        // &-share {
        //     // top: .5rem;
        //     // left: .5rem;
        //     max-width: 1.5rem;
        // }

        // &-newspaper {
        //     top: .5rem;
        //     right: .5rem;
        //     width: 1.5rem;
        //     height: 1.5rem;
        // }
    }
}