.prayer {
    margin: 1rem 0;

    &-header {
        color: $main-color;
        margin-bottom: .5rem;
    }

    &-content {
        background-color: #fff;
        padding: 1rem 0;
        &-header{
            padding: 0 1rem;
        }
        &-times {
            i {
                font-size: 2rem;
                margin-top: 2.5rem;
            }

            .sun {
                color: yellow;
            }

            h5 {
                margin: 1.5rem 0;
            }
        }
    }
}