.select-countries {
    &-list {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        .country {
            padding: 1.5rem .75rem;
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.04);
            display: flex;
            align-items: center;
            input {
                display: none;
            }

            img {
                width: 5rem;
            }

            &.checked {
                background-color: #e2e2e2;
            }
        }
    }
}