.urgent-news {
    &-sliders {
        margin-top: 1rem;
        img {
            width: 100%;
            height: 100%;
            opacity: .4;
            height: 3.5rem;
            cursor: pointer;
            &.active {
                opacity: 1;
                border: 2px solid $main-color
            }
        }
    }
}