.urgent-news{
    
    &-main{
        &-header{
            padding: 1rem;
            background-color: #fff;
            img{
                width: 100%;
            }
        }
    }
    &-related{
        
    }
}