@import './buttons';






.overflow-y-auto{
    overflow-y: auto;
}
.overflow-x-auto{
    overflow-x: auto;
}
.overflow-y-hidden{
    overflow-x: hidden;
}
.overflow-x-hidden{
    overflow-x: hidden;
}